{% extends "base.html" %}

{% block title %}Feedback{% endblock%}
{% block head %}
  {{ super() }}
<style>
</style>
{% endblock %}

{% block content %}
    <!-- link href = " whatever style or something" -->
    <div class="page">
        <h1> Results </h1>
            {% if result%}
                <h3>Welcome {{current_user.username}}! </br>
                    Thanks for taking your time to do our quiz. </br>
                    You got a {{result}} out of {{sum}}, {{percentage}}%! <br>
                    If you keep practising you will improve!
                  </h3>
            {% else %}
                <h3> Please complete the quiz to view your results! </h3>
            {%endif%}
        <div id = "feedbackform">
        <h3>Please consider leaving some feedback as to what you enjoyed, </br>
            And what we could improve on. </h3>
            <form action="", method = "post" >
               <h3><label for"feedback">Place feedback in area below</label></h2>
               <textarea rows="6" cols="80" name="feedback" id="feedback" required></textarea>
               <div class="submitbutton">
                   <input type="submit" value="submit">
               </div>
            </form>  
        </div>
     </div>
             
{% endblock %}
