<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="poker.css">
    <style>
        #window {
            display:flex;
            align-items:center;
            flex-direction:column;
        }
        img { 
            width:100px; /*styling the cards*/
        }
        .card_window {
            display:flex;
            flex-direction:row;
        }
        #table {
          display:flex;
          flex-direction:column;
        }
        .card_text {
          display:flex;
          flex-direction: column;
          margin-left:5px;
          width: 30%;
        }
        .hand_info {
          display:flex;
          flex-direction:row;
          justify-content:space-around;
          padding-bottom: 10px;
        }
    </style> 
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm k navbar-dark">
            <a class="navbar-brand" href="#">
              <img src="https://i.ibb.co/YpxVHWH/image.png" alt="logo" style="width:40px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Links -->  
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" href="#">Hands</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="#">Rules</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Tutorial</a>
              </li>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Log in</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Register</a>
            </ul>
            </div>
          </nav>    
        <div id="window"> 
          <p>To learn more about how to play, head to our tutorial section!</p>
          <div style="margin-bottom:20px; border:2px solid; padding: 5px; font-size:30px; font-weight:550"><a href=#>Hand calculator!</a></div>
          <div id="table">
            <div class="hand_info" id="royal_flush">
              <div class="card_text">
                <div style="padding-right:10px;"><h4>Royal Flush</h4></div>
                <div><p>An Ace, King, Queen, Jack and 10, all of the same suit.</p></div>
              </div>
              <div class="card_window">
                <div><img src="deck/1d.png"></div>
                <div><img src="deck/kd.png"></div>
                <div><img src="deck/qd.png"></div>
                <div><img src="deck/jd.png"></div>
                <div><img src="deck/10d.png"></div>
              </div>
            </div>
            <div class="hand_info" id="straight_flush">
              <div class="card_text">
                <div style="padding-right:10px;"><h4>Straight Flush</h4></div>
                <div><p>Five cards of the same suit in sequence!</p></div>
              </div>
              <div class="card_window">
                <div><img src="deck/9d.png"></div>
                <div><img src="deck/8d.png"></div>
                <div><img src="deck/7d.png"></div>
                <div><img src="deck/6d.png"></div>
                <div><img src="deck/5d.png"></div>
              </div>
            </div>   
            <div class="hand_info" id="four_of_a_kind">
              <div class="card_text">
                <div style="padding-right:10px;"><h4>Four Of A Kind</h4></div>
                <div><p>Four cards of the same face.</p></div>
              </div>
              <div class="card_window">
                <div><img src="deck/qh.png"></div>
                <div><img src="deck/qs.png"></div>
                <div><img src="deck/qd.png"></div>
                <div><img src="deck/qc.png"></div>
                <div><img src="deck/3c.png"></div>
              </div>
            </div> 
            <div class="hand_info" id="full_house">
              <div class="card_text">
                <div style="padding-right:10px;"><h4>Full House</h4></div>
                <div><p>Three cards of the same face with a pair (also of the same face).</p></div>
              </div>
              <div class="card_window">
                <div><img src="deck/1c.png"></div>
                <div><img src="deck/1d.png"></div>
                <div><img src="deck/1h.png"></div>
                <div><img src="deck/jd.png"></div>
                <div><img src="deck/jh.png"></div>
              </div>
            </div>   
            <div class="hand_info" id="flush">
              <div class="card_text">
                <div style="padding-right:10px;"><h4>Flush</h4></div>
                <div><p>Five cards of the same suit - regardless of face.</p></div>
              </div>
              <div class="card_window">
                <div><img src="deck/1c.png"></div>
                <div><img src="deck/8c.png"></div>
                <div><img src="deck/3c.png"></div>
                <div><img src="deck/jc.png"></div>
                <div><img src="deck/4c.png"></div>
              </div>
            </div>   
            <div class="hand_info" id="straight">
              <div class="card_text">
                <div style="padding-right:10px;"><h4>Straight</h4></div>
                <div><p>Five cards in sequence, but not of the same suit.</p></div>
              </div>
              <div class="card_window">
                <div><img src="deck/7d.png"></div>
                <div><img src="deck/6c.png"></div>
                <div><img src="deck/5s.png"></div>
                <div><img src="deck/4h.png"></div>  
                <div><img src="deck/3d.png"></div>
              </div>
            </div>  
            <div class="hand_info" id="three_of_a_kind">
              <div class="card_text">
                <div style="padding-right:10px;"><h4>Three Of A Kind</h4></div>
                <div><p>Three cards of the same rank!</p></div>
              </div>
              <div class="card_window">
                <div><img src="deck/9d.png"></div>
                <div><img src="deck/9c.png"></div>
                <div><img src="deck/9s.png"></div>
                <div><img src="deck/4h.png"></div>  
                <div><img src="deck/3d.png"></div>
              </div>
            </div>   
            <div class="hand_info" id="two_pair">
              <div class="card_text">
                <div style="padding-right:10px;"><h4>Two Of A Pair</h4></div>
                <div><p>Two pairs of cards with the same rank!</p></div>
              </div>
              <div class="card_window">
                <div><img src="deck/qd.png"></div>
                <div><img src="deck/qc.png"></div>
                <div><img src="deck/10s.png"></div>
                <div><img src="deck/10h.png"></div>  
                <div><img src="deck/3d.png"></div>
              </div>
            </div>  
            <div class="hand_info" id="pair">
              <div class="card_text">
                <div style="padding-right:10px;"><h4>Pair</h4></div>
                <div><p>One pairs of cards with the same rank!</p></div>
              </div>
              <div class="card_window">
                <div><img src="deck/qd.png"></div>
                <div><img src="deck/qc.png"></div>
                <div><img src="deck/4s.png"></div>
                <div><img src="deck/10h.png"></div>  
                <div><img src="deck/3d.png"></div>
              </div>
            </div> 
            <div class="hand_info" id="high_card">
              <div class="card_text">
                <div style="padding-right:10px;"><h4>High Card</h4></div>
                <div><p>... Just the highest card plays...</p></div>
              </div>
              <div class="card_window">
                <div><img src="deck/qd.png"></div>
                <div><img src="deck/qc.png"></div>
                <div><img src="deck/4s.png"></div>
                <div><img src="deck/10h.png"></div>  
                <div><img src="deck/3d.png"></div>
              </div>
            </div>       
          </div>
          <footer class="myfooter" style="position:relative;">Incman7 was here.</footer>
        </div>
    </div>
</body>
<script>

</script> 
</html>
