{% extends "base.html" %}

{% block title %}Home{% endblock%}
{% block head %}
  {{ super() }}
<style>
    .myfooter {
        position:relative;
    }
      button {
        border: 3px solid #ccc;
    }
</style>
{% endblock %}

{% block content %}
    <div style="display:flex;align-items:flex-start;flex-direction:column;">
        <form action="", method="post">
            {% for question in questions %}
            <div class = "question-body">
                <h4 class="question">{{question.questionbody}}</h4>
                <div class = "answers" style="display:flex;flex-direction:column;">
                    {%for answer in question.answers%}
                        <input type = "radio" name = "{{question.id}}" id = "{{answer.id}}" value = "{{answer.answerbody}}" required>
                        <label for="{{answer.id}}"> {{answer.answerbody}} </label>
                    {% endfor %}
                </div>
            </div>
            {% endfor %} 
            <div>
                <input type = "submit" value="submit">
            </div>      
        </form>     
    </div>
{% endblock %}
