{% extends "base.html" %}

{% block title %}Home{% endblock%}
{% block head %}
  {{ super() }}
<style>
</style>
{% endblock %}

{% block content %}
    <div style="display:flex;align-items:flex-start;flex-direction:column;">
        <form action="", method="post">
            {% for question in questions %}
            <div class = "question-body">
                <h1 class="question">{{question.questionbody}}</h1>
                <div class = "answers">
                    {%for answer in question.answers%}
                        <input type = "radio" name = "{{question.id}}" id = "{{answer.id}}" value = "{{answer.answerbody}}" required>
                        <label for="{{answer.id}}"> {{answer.answerbody}} </label>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}      
    </div>
{% endblock %}
