  
{% extends "base.html" %}

{% block title %}Statistics{% endblock%}
{% block head %}
  {{ super() }}
<style>
</style>
{% endblock %}

{% block content %}
    <h1>Statistics</h1>
    <div class=container>
        <h2>Your Statistics</h2>
        {% for result in tutorial_results %}
            <p>{{ result }}</p>
        <h2>High Scores</h2>
        {% for i in range 10 %}
            <p>{{highscores[i]}}</p>
        <h2>Number of Users - {{numUsers}}</h2>
    </div>

{% endblock %}
